.resumen-lavado-colchones {
    background-image: url(../../img/colchones-fondo.webp);
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    height: auto;

    h3{
        margin-bottom: 20px;
    }
    p{
        text-align: justify;
        margin-bottom: 20px;
    }
    a{
        padding: 10px 20px;
        background-color: #00dd93;
        border-radius: 10px;
        text-align: center;
        border: 3px solid white;
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
    a:hover{
        transform: scale(1.1);
        transition: all .3s;
    }
}

@media screen and (min-width: 400px){
    .resumen-lavado-colchones{
        padding: 0px 20px;
        height: 100vh;
    }
}

@media screen and (min-width: 500px){
    .resumen-lavado-colchones{

        h3{
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 600px){
    .resumen-lavado-colchones{
        padding: 0px 30px;
    }
}

@media screen and (min-width: 700px){
    .resumen-lavado-colchones{

        h3{
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
        a{
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 800px){
    .resumen-lavado-colchones{

        h3, p{
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 900px){
    .resumen-lavado-colchones{

        h3, p{
            margin-bottom: 40px;
        }
    }
}