* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    position: relative
}

.barra-superior {
    grid-gap: 10px;
    background-color: #01b7b7;
    display: grid;
    grid-template-columns: 1, 1fr;
    padding: 10px 20px
}

.barra-superior .barra-superior__slogan h3 {
    color: #fff;
    text-align: center
}

.barra-superior .barra-superior__redes {
    display: flex;
    justify-content: space-around
}

.barra-superior .barra-superior__redes a {
    color: #fff;
    font-size: 30px
}

.barra-superior .barra-superior__redes a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media screen and (min-width:400px) {
    .barra-superior {
        grid-gap: 20px
    }
}

@media screen and (min-width:800px) {
    .barra-superior {
        grid-template-columns: repeat(2, 1fr)
    }

    .barra-superior .barra-superior__slogan {
        align-items: center;
        display: flex;
        justify-content: center
    }
}

@media screen and (min-width:900px) {
    .barra-superior {
        height: 70px
    }

    .barra-superior .barra-superior__redes {
        align-items: center
    }
}

.menu-navegacion {
    align-items: center;
    background-color: #00dd93;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000
}

.menu-navegacion .menu-navegacion__logo {
    margin-bottom: 20px
}

.menu-navegacion .menu-navegacion__logo a {
    color: #fff;
    font-size: 25px;
    text-decoration: none
}

.menu-navegacion .menu-navegacion__logo a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.menu-navegacion .menu-navegacion__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.menu-navegacion .menu-navegacion__menu i {
    color: azure;
    cursor: pointer;
    font-size: 25px
}

.menu-navegacion .menu-navegacion__menu i:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.menu-navegacion .menu-navegacion__menu .menu-navegacion__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100vw
}

.menu-navegacion .menu-navegacion__menu .menu-navegacion__ul a {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    width: 100%
}

.menu-navegacion .menu-navegacion__menu .menu-navegacion__ul a:hover {
    background-color: #fff;
    color: #00dd93;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

.menu-navegacion .menu-navegacion__menu .menu-navegacion__ul .item-servicios {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline;
    width: 100%
}

.menu-navegacion .menu-navegacion__menu .menu-navegacion__ul .item-servicios:hover {
    background-color: #fff;
    color: #00dd93;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

.menu-navegacion .menu-navegacion__menu .hidden-menu,
.menu-navegacion .menu-navegacion__menu .hidden-submenu {
    display: none
}

.menu-navegacion .menu-navegacion__menu .submenu-visible {
    display: block
}

.menu-navegacion .menu-navegacion__menu .submenu-visible a {
    background-color: #01b7b7;
    display: block
}

@media screen and (min-width:600px) {
    .menu-navegacion .menu-navegacion__menu i {
        font-size: 30px
    }

    .menu-navegacion .menu-navegacion__menu .menu-navegacion__ul .item-servicios,
    .menu-navegacion .menu-navegacion__menu .menu-navegacion__ul a {
        font-size: 20px
    }
}

@media screen and (min-width:800px) {
    .menu-navegacion {
        grid-gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }

    .menu-navegacion .menu-navegacion__logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        text-align: center
    }

    .menu-navegacion .menu-navegacion__menu i {
        display: none
    }

    .menu-navegacion .menu-navegacion__menu .menu-navegacion__ul {
        margin-top: 0;
        width: 100%
    }

    .menu-navegacion .menu-navegacion__menu .menu-navegacion__ul a {
        border: 0
    }

    .menu-navegacion .menu-navegacion__menu .menu-navegacion__ul .item-servicios {
        border: 0;
        display: inline
    }

    .menu-navegacion .menu-navegacion__menu .hidden-menu {
        display: block
    }

    .menu-navegacion .menu-navegacion__menu .submenu-visible {
        box-shadow: 3px 3px 3px 1px #333;
        position: absolute;
        right: 240px;
        top: 70px
    }

    .menu-navegacion .menu-navegacion__menu .submenu-visible:before {
        border: 30px solid transparent;
        border-bottom-color: #01b7b7;
        content: "";
        height: 0;
        left: 100px;
        position: absolute;
        top: -50px;
        width: 0
    }
}

@media screen and (min-width:829px) {
    .menu-navegacion .menu-navegacion__menu .submenu-visible {
        top: 66px
    }
}

@media screen and (min-width:900px) {
    .menu-navegacion {
        grid-gap: 5px
    }

    .menu-navegacion .menu-navegacion__menu {
        padding: 0 10px
    }

    .menu-navegacion .menu-navegacion__menu .submenu-visible {
        right: 250px
    }
}

@media screen and (min-width:1500px) {
    .menu-navegacion {
        grid-gap: 5px
    }

    .menu-navegacion .menu-navegacion__menu {
        padding: 0 10px
    }

    .menu-navegacion .menu-navegacion__menu .submenu-visible {
        right: 320px
    }
}

.swiper-container {
    height: 50vh
}

.swiper-container,
.swiper-container .swiper__img {
    align-items: center;
    display: flex;
    justify-content: center
}

.swiper-container .swiper__img img {
    box-shadow: 3px 3px 5px 3px #333;
    height: 250px;
    object-fit: fill;
    width: 90vw
}

.swiper-container .swiper__img a {
    background-color: #01b7b7;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #333;
    color: #fff;
    left: 10%;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none
}

.swiper-container .swiper__img a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media screen and (min-width:500px) {
    .swiper-container .swiper__img img {
        height: 270px;
        width: 90vw
    }

    .swiper-container .swiper__img a {
        font-size: 20px
    }
}

@media screen and (min-width:600px) {
    .swiper-container {
        height: 60vh
    }

    .swiper-container .swiper__img img {
        height: 300px
    }
}

@media screen and (min-width:700px) {
    .swiper-container {
        height: 70vh
    }

    .swiper-container .swiper__img img {
        height: 320px
    }

    .swiper-container .swiper__img a {
        font-size: 25px
    }
}

@media screen and (min-width:800px) {
    .swiper-container .swiper__img img {
        width: 80vw
    }

    .swiper-container .swiper__img a {
        left: 13%
    }
}

@media screen and (min-width:900px) {
    .swiper-container .swiper__img img {
        height: 350px
    }
}

@media screen and (min-width:1000px) {
    .swiper-container .swiper__img img {
        height: 370px
    }

    .swiper-container .swiper__img a {
        left: 20%
    }
}

@media screen and (min-width:1100px) {
    .swiper-container .swiper__img img {
        height: auto;
        width: 68vw
    }
}

@media screen and (min-width:1200px) {
    .swiper-container {
        height: 80vh
    }

    .swiper-container .swiper__img img {
        height: auto;
        width: 68vw
    }
}

@media screen and (min-width:1300px) {
    .swiper-container {
        height: 85vh
    }

    .swiper-container .swiper__img img {
        height: auto;
        width: 68vw
    }
}

.barra-llamada {
    align-items: center;
    background-color: #01b7b7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    width: 100%
}

.barra-llamada .barra-llamada__p p {
    color: #fff;
    font-size: 20px;
    text-align: center
}

.barra-llamada .barra-llamada__a {
    margin-top: 30px;
    text-align: center
}

.barra-llamada .barra-llamada__a a {
    background-color: #00dd93;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px
}

.barra-llamada .barra-llamada__a a:hover {
    box-shadow: 1px 1px 1px 1px #333;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: box-shadow .3s, -webkit-transform .3s;
    transition: transform .3s, box-shadow .3s;
    transition: transform .3s, box-shadow .3s, -webkit-transform .3s
}

@media screen and (min-width:900px) {
    .barra-llamada {
        padding: 20px 10px
    }

    .barra-llamada .barra-llamada__a a,
    .barra-llamada .barra-llamada__p p {
        font-size: 25px
    }
}

.footer {
    grid-gap: 20px;
    background-image: url(../../assets/img/fondo-azul.webp);
    background-size: cover;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    text-align: center
}

.footer .footer__logo-texto .footer__logo {
    margin-bottom: 20px
}

.footer .footer__logo-texto .footer__logo span {
    font-size: 30px
}

.footer .footer__redes-direccion h3,
.footer .footer__redes-direccion p {
    margin-bottom: 10px
}

.footer .footer__redes-direccion a {
    color: #fff;
    display: inline-block;
    font-size: 25px
}

.footer .footer__redes-direccion a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.footer .footer__redes-direccion .footer__redes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px
}

.footer .footer__redes-direccion .footer__redes a,
.footer .footer__secciones ul h2 {
    margin-bottom: 20px
}

.footer .footer__secciones ul li {
    list-style: none;
    margin-bottom: 20px
}

.footer .footer__secciones ul li a {
    color: #fff;
    display: inline-block
}

.footer .footer__secciones ul li a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.footer .footer__desarrollador p a {
    color: #fff
}

@media screen and (min-width:600px) {
    .footer .footer__redes-direccion h3 {
        font-size: 25px
    }

    .footer .footer__redes-direccion p {
        font-size: 20px
    }

    .footer .footer__redes-direccion a {
        font-size: 30px
    }

    .footer .footer__redes-direccion .footer__redes {
        flex-direction: row
    }

    .footer .footer__redes-direccion .footer__redes a {
        font-size: 40px
    }

    .footer .footer__secciones ul li {
        font-size: 20px
    }

    .footer .footer__secciones ul li a {
        color: #fff;
        display: inline-block
    }

    .footer .footer__secciones ul li a:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s
    }

    .footer .footer__desarrollador p a {
        color: #fff
    }
}

@media screen and (min-width:700px) {
    .footer .footer__logo-texto .footer__texto p {
        font-size: 20px
    }
}

@media screen and (min-width:800px) {
    .footer {
        grid-template-columns: repeat(3, 1fr)
    }

    .footer .footer__logo-texto {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .footer .footer__logo-texto .footer__texto p {
        font-size: 17px
    }

    .footer .footer__redes-direccion {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .footer .footer__redes-direccion .footer__redes a i {
        font-size: 30px
    }

    .footer .footer__secciones {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .footer .footer__secciones ul li {
        font-size: 18px
    }

    .footer .footer__desarrollador {
        grid-column: 1/4;
        text-align: center
    }
}

@media screen and (min-width:1000px) {
    .footer .footer__redes-direccion .footer__redes a i {
        font-size: 35px
    }
}

.boton-whatsapp {
    bottom: 30px;
    position: fixed;
    right: 10px;
    z-index: 999
}

.boton-whatsapp a {
    display: inline-block;
    opacity: .8;
    padding: 10px;
    width: 100%
}

.boton-whatsapp a i {
    color: #0ec80e;
    font-size: 40px;
    text-shadow: 2px 4px 2px #333
}

.boton-whatsapp a:hover {
    background-color: #0ec80e;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

.boton-whatsapp a:hover i {
    color: #fff
}

@media screen and (min-width:800px) {
    .boton-whatsapp a i {
        font-size: 50px
    }
}

.seccion-servicios {
    margin: 0 auto;
    padding: 20px 0;
    width: 95%
}

.seccion-servicios .seccion-servicios__title {
    color: #01b7b7;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center
}

.seccion-servicios .seccion-servicios__container {
    width: 100%
}

.seccion-servicios .seccion-servicios__container .seccion-servicios__servicio {
    align-items: center;
    background-color: #00dd93;
    border: 5px solid #01b7b7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 100%
}

.seccion-servicios .seccion-servicios__container .seccion-servicios__servicio h3 {
    color: #fff;
    margin-bottom: 10px
}

.seccion-servicios .seccion-servicios__container .seccion-servicios__servicio img {
    margin-bottom: 10px;
    width: 100%
}

.seccion-servicios .seccion-servicios__container .seccion-servicios__servicio a {
    background-color: #01b7b7;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px
}

.seccion-servicios .seccion-servicios__container .seccion-servicios__servicio a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media screen and (min-width:500px) {
    .seccion-servicios {
        width: 90%
    }

    .seccion-servicios .seccion-servicios__container {
        grid-gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .seccion-servicios .seccion-servicios__container .seccion-servicios__servicio {
        margin-bottom: 0
    }
}

@media screen and (min-width:900px) {
    .seccion-servicios .seccion-servicios__container {
        grid-template-columns: repeat(3, 1fr)
    }
}

.seccion-interes {
    margin: 0 auto;
    padding: 20px 0;
    width: 95%
}

.seccion-interes .seccion-interes__title {
    color: #01b7b7;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center
}

.seccion-interes .seccion-interes__container {
    width: 100%
}

.seccion-interes .seccion-interes__container .seccion-interes__interes {
    align-items: center;
    background-color: #00dd93;
    border: 5px solid #01b7b7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 10px;
    width: 100%
}

.seccion-interes .seccion-interes__container .seccion-interes__interes h3 {
    color: #fff;
    margin-bottom: 10px
}

.seccion-interes .seccion-interes__container .seccion-interes__interes img {
    margin-bottom: 10px;
    width: 100%
}

.seccion-interes .seccion-interes__container .seccion-interes__interes a {
    background-color: #01b7b7;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px
}

.seccion-interes .seccion-interes__container .seccion-interes__interes a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media screen and (min-width:500px) {
    .seccion-interes {
        width: 90%
    }

    .seccion-interes .seccion-interes__container {
        grid-gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .seccion-interes .seccion-interes__container .seccion-interes__interes {
        margin-bottom: 0
    }
}

@media screen and (min-width:900px) {
    .seccion-interes .seccion-interes__container {
        grid-template-columns: repeat(3, 1fr)
    }
}

.resumen-empresa {
    align-items: center;
    background-image: url(../../assets/img/nosotros-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-empresa h3 {
    margin-bottom: 20px
}

.resumen-empresa p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-empresa a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-empresa a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-empresa {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-empresa {
        padding: 40px 20px
    }

    .resumen-empresa h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-empresa {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-empresa {
        padding: 50px 30px
    }

    .resumen-empresa h3 {
        font-size: 30px
    }

    .resumen-empresa p {
        font-size: 18px
    }

    .resumen-empresa a {
        font-size: 20px
    }

    .resumen-empresa {
        padding: 80px 30px
    }

    .resumen-empresa h3,
    .resumen-empresa p {
        margin-bottom: 30px
    }

    .resumen-empresa p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-empresa {
        padding: 100px 30px
    }

    .resumen-empresa h3,
    .resumen-empresa p {
        margin-bottom: 40px
    }
}

.miembros {
    padding: 20px
}

.miembros,
.miembros .miembros__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.miembros .miembros__card {
    background-color: #00dd93;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #ccc;
    padding: 10px;
    width: 100%
}

.miembros .miembros__card .miembros__caja-img {
    border-radius: 50%;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    width: 250px
}

.miembros .miembros__card .miembros__caja-img img {
    width: 100%
}

.miembros .miembros__card .miembros__caja-img img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.miembros .miembros__card h3,
.miembros .miembros__card span {
    color: #fff;
    margin-bottom: 20px
}

.miembros .miembros__card a {
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none
}

.miembros .miembros__card a:hover {
    text-decoration: underline
}

@media screen and (min-width:500px) {
    .miembros .miembros__card {
        width: 85%
    }
}

@media screen and (min-width:600px) {
    .miembros .miembros__card {
        width: 75%
    }

    .miembros .miembros__card h3 {
        font-size: 20px
    }

    .miembros .miembros__card a,
    .miembros .miembros__card span {
        font-size: 18px
    }
}

@media screen and (min-width:700px) {
    .miembros .miembros__card {
        width: 65%;
        width: 55%
    }
}

@media screen and (min-width:1000px) {
    .miembros .miembros__card {
        width: 45%
    }
}

.resumen-testimonio {
    align-items: center;
    background-image: url(../../assets/img/testimonios-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-testimonio h3 {
    margin-bottom: 20px
}

.resumen-testimonio p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-testimonio a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-testimonio a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-testimonio {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-testimonio {
        padding: 40px 20px
    }

    .resumen-testimonio h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-testimonio {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-testimonio {
        padding: 50px 30px
    }

    .resumen-testimonio h3 {
        font-size: 30px
    }

    .resumen-testimonio p {
        font-size: 18px
    }

    .resumen-testimonio a {
        font-size: 20px
    }

    .resumen-testimonio {
        padding: 80px 30px
    }

    .resumen-testimonio h3,
    .resumen-testimonio p {
        margin-bottom: 30px
    }

    .resumen-testimonio p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-testimonio {
        padding: 100px 30px
    }

    .resumen-testimonio h3,
    .resumen-testimonio p {
        margin-bottom: 40px
    }
}

.trabajos-realizados {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0
}

.trabajos-realizados h3 {
    color: #01b7b7;
    margin-bottom: 20px;
    text-align: center
}

.trabajos-realizados .trabajos-realizados__contenedor {
    box-shadow: 2px 2px 2px 1px #ccc;
    margin-bottom: 20px;
    width: 95%
}

.trabajos-realizados .trabajos-realizados__contenedor .trabajos-realizados__contenedor-img,
.trabajos-realizados .trabajos-realizados__contenedor .trabajos-realizados__contenedor-img img {
    width: 100%
}

.trabajos-realizados .trabajos-realizados__contenedor p {
    background-color: #01b7b7;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    width: 100%
}

@media screen and (min-width:330px) {
    .trabajos-realizados .trabajos-realizados__contenedor {
        width: 80%
    }
}

@media screen and (min-width:500px) {
    .trabajos-realizados h3 {
        font-size: 25px
    }

    .trabajos-realizados .trabajos-realizados__contenedor {
        width: 65%
    }
}

@media screen and (min-width:600px) {
    .trabajos-realizados {
        grid-gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px
    }

    .trabajos-realizados h3 {
        font-size: 25px;
        grid-column: 1/3
    }

    .trabajos-realizados .trabajos-realizados__contenedor {
        margin-bottom: 0;
        width: 100%
    }

    .trabajos-realizados .paginacion {
        grid-column: 1/3
    }
}

@media screen and (min-width:700px) {
    .trabajos-realizados {
        padding: 20px 40px
    }
}

@media screen and (min-width:900px) {
    .trabajos-realizados {
        grid-template-columns: repeat(3, 1fr)
    }

    .trabajos-realizados h3 {
        font-size: 30px;
        grid-column: 1/4
    }

    .trabajos-realizados .paginacion {
        grid-column: 1/4
    }
}

.paginacion {
    align-items: center;
    display: flex;
    justify-content: center
}

.paginacion button {
    background-color: transparent;
    border: 0;
    cursor: pointer
}

.paginacion button i {
    color: #01b7b7;
    font-size: 30px
}

.paginacion button i:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.paginacion button:hover {
    background-color: transparent
}

.paginacion button[disabled] {
    cursor: no-drop;
    opacity: .6
}

.paginacion button:first-child {
    margin-right: 20px
}

.paginacion button:last-child {
    margin-left: 20px
}

.paginacion input {
    margin-right: 10px;
    text-align: center;
    width: 20px
}

@media screen and (min-width:600px) {
    .paginacion button i {
        font-size: 40px
    }

    .paginacion button:first-child {
        margin-right: 20px
    }

    .paginacion button:last-child {
        margin-left: 20px
    }

    .paginacion input {
        font-size: 20px;
        margin-right: 10px;
        text-align: center;
        width: 30px
    }
}

.testimonios-videos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0
}

.testimonios-videos h3 {
    color: #01b7b7;
    margin-bottom: 30px;
    text-align: center
}

.testimonios-videos .testimonios-videos__container {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%
}

.testimonios-videos .testimonios-videos__container .testimonios-videos__video iframe {
    border: 3px solid #01b7b7;
    box-shadow: 3px 3px 3px 2px #ccc;
    width: 100%
}

@media screen and (min-width:500px) {
    .testimonios-videos h3 {
        font-size: 25px
    }
}

@media screen and (min-width:700px) {
    .testimonios-videos .testimonios-videos__container {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr)
    }
}

.resumen-contactos {
    align-items: center;
    background-image: url(../../assets/img/contactos-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-contactos h3 {
    margin-bottom: 20px
}

.resumen-contactos p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-contactos a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-contactos a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-contactos {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-contactos {
        padding: 40px 20px
    }

    .resumen-contactos h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-contactos {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-contactos {
        padding: 50px 30px
    }

    .resumen-contactos h3 {
        font-size: 30px
    }

    .resumen-contactos p {
        font-size: 18px
    }

    .resumen-contactos a {
        font-size: 20px
    }

    .resumen-contactos {
        padding: 80px 30px
    }

    .resumen-contactos h3,
    .resumen-contactos p {
        margin-bottom: 30px
    }

    .resumen-contactos p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-contactos {
        padding: 100px 30px
    }

    .resumen-contactos h3,
    .resumen-contactos p {
        margin-bottom: 40px
    }
}

.informacion-contactos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0
}

.informacion-contactos h3 {
    color: #01b7b7;
    margin-bottom: 30px
}

.informacion-contactos .informacion-contactos__container {
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    width: 85%
}

.informacion-contactos .informacion-contactos__container a {
    background-color: #01b7b7;
    border-radius: 10px;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none
}

.informacion-contactos .informacion-contactos__container a i {
    margin-right: 20px
}

.informacion-contactos .informacion-contactos__container a:hover {
    box-shadow: 2px 2px 2px 1px #ccc;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

@media screen and (min-width:700px) {
    .informacion-contactos h3 {
        font-size: 25px
    }

    .informacion-contactos .informacion-contactos__container {
        grid-template-columns: repeat(2, 1fr)
    }

    .informacion-contactos .informacion-contactos__container a {
        align-items: center;
        display: flex;
        font-size: 20px;
        justify-content: center
    }

    .informacion-contactos .informacion-contactos__container a i {
        margin-right: 20px
    }

    .informacion-contactos .informacion-contactos__container a:hover {
        box-shadow: 2px 2px 2px 1px #ccc;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s
    }
}

@media screen and (min-width:1100px) {
    .informacion-contactos .informacion-contactos__container {
        grid-template-columns: repeat(3, 1fr)
    }

    .informacion-contactos .informacion-contactos__container a {
        font-size: 20px
    }

    .informacion-contactos .informacion-contactos__container a i {
        font-size: 25px
    }
}

.resumen-lavado-muebles {
    align-items: center;
    background-image: url(../../assets/img/muebles-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-lavado-muebles h3 {
    margin-bottom: 20px
}

.resumen-lavado-muebles p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-lavado-muebles a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-lavado-muebles a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-lavado-muebles {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-lavado-muebles {
        padding: 40px 20px
    }

    .resumen-lavado-muebles h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-lavado-muebles {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-lavado-muebles {
        padding: 50px 30px
    }

    .resumen-lavado-muebles h3 {
        font-size: 30px
    }

    .resumen-lavado-muebles p {
        font-size: 18px
    }

    .resumen-lavado-muebles a {
        font-size: 20px
    }

    .resumen-lavado-muebles {
        padding: 80px 30px
    }

    .resumen-lavado-muebles h3,
    .resumen-lavado-muebles p {
        margin-bottom: 30px
    }

    .resumen-lavado-muebles p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-lavado-muebles {
        padding: 100px 30px
    }

    .resumen-lavado-muebles h3,
    .resumen-lavado-muebles p {
        margin-bottom: 40px
    }
}

.resumen-lavado-colchones {
    align-items: center;
    background-image: url(../../assets/img/colchones-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-lavado-colchones h3 {
    margin-bottom: 20px
}

.resumen-lavado-colchones p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-lavado-colchones a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-lavado-colchones a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-lavado-colchones {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-lavado-colchones {
        padding: 40px 20px
    }

    .resumen-lavado-colchones h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-lavado-colchones {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-lavado-colchones {
        padding: 50px 30px
    }

    .resumen-lavado-colchones h3 {
        font-size: 30px
    }

    .resumen-lavado-colchones p {
        font-size: 18px
    }

    .resumen-lavado-colchones a {
        font-size: 20px
    }

    .resumen-lavado-colchones {
        padding: 80px 30px
    }

    .resumen-lavado-colchones h3,
    .resumen-lavado-colchones p {
        margin-bottom: 30px
    }

    .resumen-lavado-colchones p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-lavado-colchones {
        padding: 100px 30px
    }

    .resumen-lavado-colchones h3,
    .resumen-lavado-colchones p {
        margin-bottom: 40px
    }
}

.resumen-lavado-vehiculos {
    align-items: center;
    background-image: url(../../assets/img/coches-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-lavado-vehiculos h3 {
    margin-bottom: 20px;
    text-align: center
}

.resumen-lavado-vehiculos p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-lavado-vehiculos a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-lavado-vehiculos a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-lavado-vehiculos {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-lavado-vehiculos {
        padding: 40px 20px
    }

    .resumen-lavado-vehiculos h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-lavado-vehiculos {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-lavado-vehiculos {
        padding: 50px 30px
    }

    .resumen-lavado-vehiculos h3 {
        font-size: 30px
    }

    .resumen-lavado-vehiculos p {
        font-size: 18px
    }

    .resumen-lavado-vehiculos a {
        font-size: 20px
    }

    .resumen-lavado-vehiculos {
        padding: 80px 30px
    }

    .resumen-lavado-vehiculos h3,
    .resumen-lavado-vehiculos p {
        margin-bottom: 30px
    }

    .resumen-lavado-vehiculos p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-lavado-vehiculos {
        padding: 100px 30px
    }

    .resumen-lavado-vehiculos h3,
    .resumen-lavado-vehiculos p {
        margin-bottom: 40px
    }
}

.resumen-lavado-alfombras {
    align-items: center;
    background-image: url(../../assets/img/alfombras-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-lavado-alfombras h3 {
    margin-bottom: 20px;
    text-align: center
}

.resumen-lavado-alfombras p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-lavado-alfombras a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-lavado-alfombras a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-lavado-alfombras {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-lavado-alfombras {
        padding: 40px 20px
    }

    .resumen-lavado-alfombras h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-lavado-alfombras {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-lavado-alfombras {
        padding: 50px 30px
    }

    .resumen-lavado-alfombras h3 {
        font-size: 30px
    }

    .resumen-lavado-alfombras p {
        font-size: 18px
    }

    .resumen-lavado-alfombras a {
        font-size: 20px
    }

    .resumen-lavado-alfombras {
        padding: 80px 30px
    }

    .resumen-lavado-alfombras h3,
    .resumen-lavado-alfombras p {
        margin-bottom: 30px
    }

    .resumen-lavado-alfombras p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-lavado-alfombras {
        padding: 100px 30px
    }

    .resumen-lavado-alfombras h3,
    .resumen-lavado-alfombras p {
        margin-bottom: 40px
    }
}

.resumen-lavado-sillas {
    align-items: center;
    background-image: url(../../assets/img/sillas-fondo.webp);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}

.resumen-lavado-sillas h3 {
    margin-bottom: 20px;
    text-align: center
}

.resumen-lavado-sillas p {
    margin-bottom: 20px;
    text-align: justify
}

.resumen-lavado-sillas a {
    background-color: #00dd93;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none
}

.resumen-lavado-sillas a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .3s
}

@media screen and (min-width:400px) {
    .resumen-lavado-sillas {
        padding: 30px 20px
    }
}

@media screen and (min-width:500px) {
    .resumen-lavado-sillas {
        padding: 40px 20px
    }

    .resumen-lavado-sillas h3 {
        font-size: 25px
    }
}

@media screen and (min-width:600px) {
    .resumen-lavado-sillas {
        padding: 50px 30px
    }
}

@media screen and (min-width:700px) {
    .resumen-lavado-sillas {
        padding: 50px 30px
    }

    .resumen-lavado-sillas h3 {
        font-size: 30px
    }

    .resumen-lavado-sillas p {
        font-size: 18px
    }

    .resumen-lavado-sillas a {
        font-size: 20px
    }

    .resumen-lavado-sillas {
        padding: 80px 30px
    }

    .resumen-lavado-sillas h3,
    .resumen-lavado-sillas p {
        margin-bottom: 30px
    }

    .resumen-lavado-sillas p {
        font-size: 18px
    }
}

@media screen and (min-width:900px) {
    .resumen-lavado-sillas {
        padding: 100px 30px
    }

    .resumen-lavado-sillas h3,
    .resumen-lavado-sillas p {
        margin-bottom: 40px
    }
}

@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
}

:root {
    --swiper-theme-color: #007aff
}

.swiper {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    width: 100%;
    z-index: 1
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    width: 100%
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-backface-hidden .swiper-slide {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
    -webkit-perspective: 1200px;
    perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, .15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-css-mode>.swiper-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-start: var(--swiper-centered-offset-before);
    margin-inline-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-horizontal>.swiper-wrapper:before {
    height: 100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    -webkit-margin-before: var(--swiper-centered-offset-before);
    margin-block-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-vertical>.swiper-wrapper:before {
    height: var(--swiper-centered-offset-after);
    min-width: 1px;
    width: 100%
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: opacity .3s;
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-pagination-disabled>.swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
    display: none !important
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    font-size: 0;
    overflow: hidden
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    position: relative;
    -webkit-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullet {
    background: #000;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    opacity: .2;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
    width: 8px;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px))
}

button.swiper-pagination-bullet {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet:only-child {
    display: none !important
}

.swiper-pagination-bullet-active {
    background: var(--swiper-theme-color);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    opacity: 1;
    opacity: var(--swiper-pagination-bullet-opacity, 1)
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    display: block;
    margin: 6px 0;
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: transform .2s, top .2s
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px)
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s, left .2s
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform .2s, right .2s
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-theme-color);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 100%
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: 4px;
    left: 0;
    top: 0;
    width: 100%
}

.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical>.swiper-pagination-progressbar {
    height: 100%;
    left: 0;
    top: 0;
    width: 4px
}

.swiper-pagination-lock {
    display: none
}

:root {
    --swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
    align-items: center;
    color: var(--swiper-theme-color);
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    cursor: pointer;
    display: flex;
    height: 44px;
    height: var(--swiper-navigation-size);
    justify-content: center;
    margin-top: -22px;
    margin-top: calc(0px - var(--swiper-navigation-size)/2);
    position: absolute;
    top: 50%;
    width: 27px;
    width: calc(var(--swiper-navigation-size)/44*27);
    z-index: 10
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    cursor: auto;
    opacity: .35;
    pointer-events: none
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
    cursor: auto;
    opacity: 0;
    pointer-events: none
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
    display: none !important
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 44px;
    font-size: var(--swiper-navigation-size);
    font-variant: normal;
    letter-spacing: 0;
    line-height: 1;
    text-transform: none !important
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "prev"
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: auto;
    right: 10px
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "next"
}

.swiper-button-lock {
    display: none
}

/*# sourceMappingURL=main.b4c94c8d.css.map*/