*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    position: relative;
}

@import './styles/app.scss';
@import './styles/components/BarraSuperior.scss';
@import './styles/components/MenuNavegacion.scss';
@import './styles/components/SlideServicios.scss';
@import'./styles/components/BarraLlamada.scss';
@import './styles/components/Footer.scss';
@import './styles/components/BotonWhatsapp.scss';
@import './styles/components/SeccionServicios.scss';
@import './styles/components/SeccionInteres.scss';
@import './styles/components/ResumenEmpresa.scss';
@import './styles/components/Miembros.scss';
@import './styles/components/ResumenTestimonio.scss';
@import './styles/components/TrabajosRealizados.scss';
@import './styles/components/Paginacion.scss';